<div style="text-align: center">
  <hr style="border: 1px solid #8c8b8b; margin-top: 0px; margin-bottom:12px">
  <div id="ECSuccess"><div *ngIf="success" class="alert alert-success">
      {{success}}</div>
  </div>
  <div id="ECMessage"><div *ngIf="message" class="alert alert-danger">
      {{message}}</div>
  </div>
</div>
<div class="form-group"  style="margin-right:15px; margin-left: 15px" >
    <label>Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" style="display: inline-block; border-color:red; border-width: 3px; border-style: solid;" placeholder="(20 characters maximum)"
    [(ngModel)]="edit.name">
    <span class="glyphicon glyphicon-asterisk" style="font-size: 15px; font-weight:lighter; color:red" data-toggle="tooltip" title="Mandatory field"></span>
    <seg *ngIf="!community || !community.attrs.abbr" class="">
      <br/>
      <label style="margin-top: 10px">Abbreviation</label>&nbsp;
      <input type="text" style="display: inline-block; border-color:red; border-width: 3px; border-style: solid;" placeholder="(4 characters maximum)"
      [(ngModel)]="edit.abbr">
      <span class="glyphicon glyphicon-asterisk" style="font-size: 15px; font-weight:lighter; color:red" data-toggle="tooltip" title="Mandatory field"></span>

    </seg>
  </div>
  <hr style="border: 1px solid #8c8b8b; margin-top: 12px; margin-bottom:12px">
  <div class="form-group" *ngIf="community&&community.attrs.abbr" style="margin-right:15px; margin-left: 15px">
    <label>Abbreviation</label> <span> {{edit.abbr}}  (cannot alter)</span>
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
    <label>Long Name</label>
    <input type="text" class="form-control" placeholder="Long Name (80 characters maximum)"
    [(ngModel)]="edit.longName">
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
    <label>Description</label>
    <textarea class="form-control" rows="2" cols="20" placeholder="Description (you can include HTML)"
      [(ngModel)]="edit.description"></textarea>
      <label style="margin-top: 10px;">Preview Description</label>
      <p [innerHTML]="edit.description" style="margin-left: 15px; margin-right: 15px"></p>
 </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
      <label>Who can join</label> <br/>
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.public">&nbsp;&nbsp;Everyone can see it&nbsp;&nbsp;&nbsp;&nbsp;
      <span *ngIf="edit.public">
        <input type="checkbox" [(ngModel)]="edit.accept" ng-disabled="edit.public==false">Anyone can ask to join
      </span>
      <span *ngIf="edit.accept&&edit.public">
        <input type="checkbox" [(ngModel)]="edit.autoaccept" ng-disabled="edit.accept==false">Anyone asking joins
      </span>
      <span *ngIf="edit.autoaccept&&edit.public&&edit.accept">
        <input type="checkbox" [(ngModel)]="edit.alldolead" ng-disabled="edit.autoaccept==false">Everyone joining leads
      </span>
      <span *ngIf="(edit.autoaccept||edit.accept) && !edit.alldolead" style="float:right">
        <input type="checkbox" [(ngModel)]="edit.alltranscribeall" ng-disabled="edit.alldolead==true">Everyone joining transcribes everything
      </span>
    </div>
    <div class="form-group" style="margin-right:15px; margin-left: 15px">
      <label>Who can see what</label>
      <div class="container-fluid formgroup" style="margin-bottom: 15px; width:90%">
        <div class="row">
          <div class="col-sm-3 text-center" >
            <span [ngSwitch]="edit.control.images">
              <span *ngSwitchWhen="'ALL'">Everyone can view every image</span>
              <span *ngSwitchWhen="'VIEWERS'">Only registered viewers and community members can see images</span>
              <span *ngSwitchWhen="'MEMBERS'">Only community members and leaders can see images</span>
              <span *ngSwitchWhen="'LEADERS'">Only community leaders can see images</span>
            </span>
          </div>
          <div class="col-sm-1 text-center" >
            <a (click)="changeControl('images')" style="float:right">Edit</a>
          </div>
          <div class="col-sm-3 text-center">
            <span [ngSwitch]="edit.control.transcripts">
              <span *ngSwitchWhen="'ALL'">Everyone can view every transcript</span>
              <span *ngSwitchWhen="'VIEWERS'">Only registered viewers and community members can see transcripts</span>
              <span *ngSwitchWhen="'MEMBERS'">Only community members and leaders can see transcripts</span>
              <span *ngSwitchWhen="'LEADERS'">Only community leaders can see transcripts</span>
            </span>
          </div>
          <div class="col-sm-1 text-center" >
            <a (click)="changeControl('transcripts')" style="float:right">Edit</a>
          </div>
          <div class="col-sm-3 text-center">
            <span [ngSwitch]="edit.control.collations">
              <span *ngSwitchWhen="'ALL'">Everyone can view every collation</span>
              <span *ngSwitchWhen="'VIEWERS'">Only registered viewers and community members can see collations</span>
              <span *ngSwitchWhen="'MEMBERS'">Only community members and leaders can see collations</span>
              <span *ngSwitchWhen="'LEADERS'">Only community leaders can see collations</span>
            </span>
          </div>
          <div class="col-sm-1 text-center" >
            <a (click)="changeControl('collations')" style="float:right">Edit</a>
          </div>
      </div>
      <div class="row" style="margin-top:10px">
          <div class="col-sm-3 text-center" > &nbsp;</div>
          <div class="col-sm-3 text-center" >
              <input type="radio" name="canrequestview" (click)="canrequest(true)" [checked]="edit.canrequestview" > Viewers do not have to be invited
          </div>
          <div class="col-sm-3 text-center" >
              <input type="radio" name="canrequestview" (click)="canrequest(false)" [checked]="!edit.canrequestview" > Viewers have to be invited
          </div>
          <div class="col-sm-3 text-center" > &nbsp;</div>
      </div>
    </div>
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
      <label>Collation</label><br/>
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.rebuildents">&nbsp;&nbsp;Rebuild collateable entities on each commit (takes longer)<br/>
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.viewsuppliedtext">&nbsp;&nbsp;View supplied text
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.viewuncleartext">&nbsp;&nbsp;View unclear text
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.viewcapitalization">&nbsp;&nbsp;View capitalization
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.expandabbreviations">&nbsp;&nbsp;Expand abbreviations
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.showpunctuation">&nbsp;&nbsp;Show punctuation
      <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.showxml">&nbsp;&nbsp;Show XML
  </div>
  <div class="form-group" style="width:100%; margin-right:15px; margin-left: 15px">
    <form name="communityForm" >
      <label>Choose community image (max. {{picFile.maxWidth}}x{{picFile.maxHeight}})</label> <br/>
      <div style="width: 600px; margin-left:auto; margin-right:auto;  text-align:center">
        <input type="file"  name="file" id="EDIB"
        accept="image/*" (change)="selectImage($event)" required style="display: block; margin : auto;"><br/>
        <div *ngIf="fileTooBig()" class="alert alert-danger" style="margin:2px">File too large
          ({{picFile.size / 1024}} KB): max {{picFile.maxSize / 1024}} px</div>
        <div *ngIf="fileTooHigh()" class="alert alert-danger" style="margin:2px">Image too high
          ({{picFile.height}} pixels): max {{picFile.maxHeight}} px</div>
        <div *ngIf="fileTooWide()" class="alert alert-danger" style="margin:2px">Image too wide
          ({{picFile.width}} pixels): max {{picFile.maxWidth}} px<br/></div>
        <div id="ECImage">
          <span *ngIf="isImageOK()">
            <button type="button" (click)="nullImage(picFile.file)">Remove</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div  style="text-align: center">
    <button type="button" class="btn btn-primary btn-md" (click)="submit()">{{community&&community.attrs.abbr ? 'Update': 'Create'}}</button>
  </div>
