<nav class="community-header navbar navbar-default" *ngIf="state.community&&state.showTop">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false" style="height:28px; position: relative; left:13px">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav" style="background-color:#00446d; position: relative; top: -5px; z-index: 800">
        <li><a (click)="navigate('home')" style="color:red; background-color: rgb(0, 86, 137); font-weight: bold; font-size: 125%">{{state.community?.attrs.name}}</a></li>
        <li><a (click)="navigate('about')">About</a></li>
        <li><a (click)="navigate('view')">View</a></li>
        <!--><li><a (click)="navigate('wiki')">Wiki</a></li>
        <li><a (click)="navigate('blog')">Blog</a></li>
        <li><a (click)="navigate('bulletin-board')">Bulletin Board</a></li></-->
        <li *ngIf="role=='LEADER'||role=='CREATOR'"><a (click)="navigate('members')">Members</a></li>
        <li *ngIf="role=='LEADER'||role=='CREATOR'"><a (click)="navigate('viewers')">Viewers</a></li>
        <li *ngIf="role=='LEADER'||role=='CREATOR'"><a (click)="navigate('edit')">Edit</a></li>
        <li><a (click)="navigate('vbase')">VBase</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="state.community?.attrs.haspicture" style="padding:0; top:-6px; left:15px"><img  height="35px" width="300px" src="{{state.community?.attrs.image}}"/></li>
      </ul>
    </div>
  </div>
</nav>
<tc-manage-community *ngIf="state.community" [community]="state.community"></tc-manage-community>
<div *ngIf="state.community" [ngSwitch]="route" id="thisCommunity">
  <tc-community-home *ngSwitchWhen="'home'"></tc-community-home>
  <tc-community-about *ngSwitchWhen="'about'"></tc-community-about>
  <tc-community-view *ngSwitchWhen="'view'"></tc-community-view>
  <tc-community-members [community]="state.community" *ngSwitchWhen="'members'"></tc-community-members>
  <tc-community-viewers [community]="state.community" *ngSwitchWhen="'viewers'"></tc-community-viewers>
  <tc-community-vbase [community]="state.community" *ngSwitchWhen="'vbase'"></tc-community-vbase>
  <tc-edit-community *ngSwitchWhen="'edit'" style="overflow:auto"
     id="tc-edit-community" [community]="state.community"></tc-edit-community>
  <tc-community-home *ngSwitchDefault ></tc-community-home>
</div>
<tc-home *ngIf="state.community==null"></tc-home>
